<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<div id="updateReponse">
    <form id="formUpdateReponse">
        <label for="id_reponseUpdate">Id de la réponse à modifier</label><br>
        <input type="text" name="id_reponseUpdate" id="id_reponseUpdate" /><br>

        <label for="id_questionUpdate">Id de la question associée à la réponse</label><br>
        <input type="text" name="id_questionUpdate" id="id_questionUpdate" /><br>

        <label for="nom_reponseUpdate">Question</label><br>
        <input type="text" name="nom_reponseUpdate" id="nom_reponseUpdate" /><br><br />

        <button class="button btn btn-primary" onclick="updateReponse()">Modifier réponse</button>
    </form>
</div>

<script>
    function updateReponse() {
        const reponse = {
            id_reponse: document.getElementById("id_reponseUpdate").value,
            id_question: document.getElementById("id_questionUpdate").value,
            nom_reponse: document.getElementById("nom_reponseUpdate").value
        }

        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
            if (this.status == 200 || this.status == 201) {
                alert("Modification Réponse Réussi");      
            }
            else {
                alert("ERREUR");
           }
        }

        xhttp.open("PUT", "https://localhost:44332/modifierReponse", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.setRequestHeader("Accept", "application/json, text/plain, */*");
        xhttp.setRequestHeader("ApiKey", "1111");
        xhttp.send(JSON.stringify(reponse));
    }
</script>