

<div class="containerAccueil">
    <div class="textAccueil">
        <h1>Bienvenue</b></h1>
        <h2>Connectez-vous ou inscrivez-vous pour commencer un quiz</h2><br />
        <h3>
            Le quiz se fera avec un autre ou plusieurs autres personnes.
            Celui qui répond à la bonne réponse , gagne un point selon la catégorie.
            Celui ayant le plus de points à la fin du quiz gagne.
        </h3>

    </div>
    <img src="images/logo.jpg">
</div>



