@model Joueur
<div class="d-flex justify-content-center align-items-center boxContent">
    <div class="container border bg-white h-70">
        <div>
            <h1><b>Mon Compte</b></h1>
        </div>
        <div class="m-5">
            <h4>Information générales</h4>
            @if (ViewBag.ErreurCompte != null)
            {
                <p class="text-danger">@ViewBag.ErreurCompte</p>
            }
            <hr>
            <div>
                <form method="post" class="container p-5">
                    <div class="form-group">

                        <input asp-for="nom_joueur" class="form-control" value=@ViewBag.nom>
                        <span asp-validation-for="nom_joueur" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <input asp-for="mot_passe" class="form-control" placeholder="Mot de passe actuel" type="password">
                        <span asp-validation-for="mot_passe" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <input name="nouveauMotPasse" class="form-control" placeholder="Nouveau mot de passe" type="password">
                    </div>
                    <div class="form-group">

                        <input name="confirmMotPasse" class="form-control" placeholder="Confirmation du mot de passe" type="password">
                    </div>
                    <input type="submit" class="btn btn-danger" type="button" name="enregistrer" id="enregistrer" value="Enregistrer">
                </form>
            </div>

        </div>
    </div>
</div>

